@charset "utf-8";
/* CSS Document */

@media (max-width: 2560px){
	.home-overlay-text {
		font-size: 55px;
	}
	

	.me-p-text{
		font-size: 30px;
	}
	
	.main-nav-link:link, 
.main-nav-link:visited{
	font-weight: 640;
	font-size: 27px;
	}
	
	.header {
		  padding: 3px 200px 3px 200px;
		  height: 165px;
	}
	
	.logo {
		height: 150px;
		width: 150px;
	}
	
	.sign-up-container {
		width: 1000px;
	}
	
	.gallery-container {
		height: 700px; 
	}
	
	.footer-text{
		font-size: 35px;
	}
	
}


@media (max-width: 2000px){
	
	.home-overlay-text {
		font-size: 30px
	}
	
	
	.me-p-text{
		font-size: 25px;
	}
	
	.main-nav-link:link, 
	.main-nav-link:visited{
	font-weight: 550;
	font-size: 24px;
	}
	
	.header {
		  height: 90px;
	}
	
	.logo {
		width: 85px;
		height: 85px;
	}
	
	
	.sign-up-container {
		width: 950px;
	}
	
	.gallery-container {
		height: 600px; }
	
}

@media (max-width: 1500px){
	
	.home-overlay-text {
		font-size: 28px
	}
	
	
	.me-p-text{
		font-size: 15px;
	}
	
	.main-nav-link:link, 
.main-nav-link:visited{
	font-weight: 550;
	font-size: 20px;
	}
	
		.header {
		  height: 90px;
	}
	
	.logo {
		width: 85px;
		height: 85px;
	}
	
	
	.sign-up-container {
		width: 750px;
	}
	
	.gallery-container {
		height: 550px; }
	
		.footer-text{
			font-size: 18px;
		}
}


	

@media (max-width: 1250px){
	 
	.grid--2--cols{
		grid-template-columns: 1fr;

	}
	
	
	.about-me{
	grid-template-columns: 1fr;
}
	
	.dissapere{
		display: block;
		margin: auto;
	}
	
	.image-of-me{
		display: none;
	}
	
	.me-p-text{
		font-size: 20px;
	}
	
	.gallery-container {
		height: 450px; }
	
	.home-overlay-text {
		font-size: 25px
	}
	
	.sign-up{
		  padding: 30px;
	}
	
	.header {
		  height: 90px;
	}
	
	.logo {
		width: 85px;
		height: 85px;
	}
	
.main-nav-link:link, 
.main-nav-link:visited {
		font-weight: 500;
		font-size: 18px;
	}
	
	.header {
		padding: 2px 150px 2px 150px;
	}
}

@media (max-width: 1000px) {
	.header{
		padding: 2px 90px 2px 90px;
	}
	
	.gallery-container {
		height: 350px; 
	}
	
	
	.text-area {
  		height: 90px;
  		resize: auto;
	}
	
	.header {
		height: 85px;
	}
	
	.logo {
		width: 80px;
		height: 80px;
	}
	
	.home-overlay-text {
		font-size: 24px
	}
	
	.me-p-text {
		font-size: 16px;
	}
	

.sign-up-container {
  width: 700px;
  height: 480px;
}

.image-holder {
display: none;
}

.image-holder img {
 display: none;
}


.sign-up-heding {
  text-align: center;
  margin-bottom: 20px;
}
	
.label {
 font-size: 10px;
}

.input{
	padding: 8px;
	}
	
	.sign-up-heding{
		font-size: 20px;
	}
	
.text-area {
 font-size: 13px;
}

.text-area {
  height: 45px;
}

	
}

@media (max-width: 900px) {
  .header {
	display: none;
  }
  .mobile-navigation{
	display: block;
  }
}

@media (max-width: 850px) {
	
	
 .footer-container {
    display: flex; /* Make the container a flexbox */
    justify-content: space-between; /* Distribute content horizontally */
    align-items: center; /* Align content vertically */
  }

  .footer-container p:first-child { /* Style the first paragraph */
    margin: 0; /* Remove default margins for better layout */
  }
}

@media (max-width: 750px) {
	
	.header{
		padding: 2px 30px 2px 30px;
	}
}

@media screen and (max-width: 768px) {
  .main-nav {
	  display: none;
	}

}
@media screen and (max-width: 700px) {

	
	.home-overlay-text {
		font-size: 20px
	}
}

@media screen and (max-width: 690px) {
	.gallery-container {
    	height: unset;  /* Remove fixed height on smaller screens */
  	}
	
	.image-row {
  margin-bottom: 5px;  /* Add some spacing between rows */
}
}

@media screen and (max-width: 600px) {

	.image-of-me{
		width: 20px;
		max-height: 20px;
	}
	
	.me-p-text{
		font-size: 15px;
	}

	.about-me{
		padding: 0;

	}
		.container {
			padding: 0 7px;
		}
}

@media screen and (max-width: 500px) {

	.image-of-me{
		max-width: 768px;
		height: 768px;
	}

	.home-overlay-text {
		font-size: 15px
	}

	.me-p-text{
		font-size: 13px;

	}
}
