* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}


body {
    font-family: Rubik;
    line-height: 1;
    font-weight: 400;
    color: #555;
    overflow-x: hidden;
}

/*GENERAL REUSABLE COMPONENTS*/

.my-5 {
    margin-top: 3rem !important;
	margin-bottom: 3rem !important;
}

.anchor {
    padding-top: 90px;
}

.container {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.grid {
    display: grid;
    column-gap: 6.4;
    gap: 40px;
    margin-bottom: 9.6rem;
}

.grid:not(:last-child) {
    margin-bottom: 9.6rem;
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
    grid-template-columns: repeat(5, 1fr);
}

.grid--6-cols {
    grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
    align-items: center;
}

*:focus {
    outline: none;
    box-shadow: 0 2px rgba(33,137,181);
}

.heading-primary {
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
}

.heading-fourth {
    display: block;
    font-size: 30px;
    font-weight: 560;
    margin-bottom: 10px;
    margin-top: 40px;
    letter-spacing: 0.30px;
}

/*HELPER SETTING CLASSES*/

.margin-right-sm {
	  margin-right: 1.8rem !important;
}

.margin-bottom-md{
	  margin-bottom: 4.8rem !important;
}

.center-text{
	  text-align: center;
}

/*NAVIGATION*/

/* Styles for all screens */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 125px;
    padding: 2px 20px 2px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.logo {
    height: 110px;
}

.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 0;
    padding: 0;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #444;
    font-weight: 530;
    font-size: 20px;
    transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #29abe2;
}

/* Hamburger Menu */
.logo {
    height: 50px;
    padding: 3px;
}

.mobile-navigation{
	display: none;
    background-color: white;

}

.topnav {
  overflow: hidden;
  position: relative;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: black;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center;
}

.mobile-navigation.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* Ensure the sticky nav bar stays on top */
  }

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 10px;
  top: 20px;
}

#about-me,
#gallery,
#facebook {
    border-style: none none solid none;
    border-width: thin;

}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  color: #222;
}

.fa-bars:before, .fa-navicon:before {
    font-size: 30px;
}

/*Home*/

.home-image-container {
    position: relative;
}

.home-image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.home-overlay-text {
    position: absolute;
    top: 20%;
    left: 40%;
    color: #003035;
    padding: 20px 30px;
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    font-family: Dancing Script;
    box-sizing: border-box;
}

/*About Me*/

.about-me {
    max-width: 10000px;
    margin: 0 auto;
    padding: 0 25px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.image-of-me{
    border-radius: 50%;
    margin: 0 0 0 100px;
}

.me-p-text{
    font-size: 15px;
    line-height: 1.8;
    color: #666;
}

.disappear {
    display: none;
    border-radius: 50%;
    left: 50%
}

/*Gallery*/

.gallery-container {
    width: 80%;
    margin: 0 auto;
    overflow-y: scroll;
    height: 400px;
}

.image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.image-row img {
    width: 32%;
}

/*Facebook*/

.facebook-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}

.facebook-colum {
    text-align: center;
}

.facebook-text {
    margin-left: 5px;
    font-size: 30px;
}


.facebook-icon{
    height: 65px;
	width: 65px;
    color: #555;
}

/*Contact*/

.sign-up {
    margin: 0;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-container {
    width: 900px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
}

.image-holder {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-holder img {
    width: auto;
    height: 345px;
    object-fit: cover;
    overflow-x: hidden;
    border-radius: 10px;
    margin-left: 30px;
}

.form-holder {
    flex: 2;
    padding: 30px;
}

.sign-up-heding {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.input,
.text-area {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.text-area {
    height: 100px;
    resize: none;
}

.submit-button {
    background-color: #29abe2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.submit-button:hover {
    background-color: #2189b5;
}

/*Footer*/

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer-text {
    font-size: 20px;
}